*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

p:last-child {
    margin-bottom: 0;
}

html {
    --color-light: rgb(193, 140, 93);
    --color-dark: rgb(37, 23, 26);
    --color-dark-opacity: rgba(37, 23, 26, 0.5);
    --color-light-opacity: rgba(193, 140, 93, 0.7);
    --color-persian-orange: rgb(220, 150, 90);
    --color-highlight-text-bg: rgba(220, 150, 90, .1);
}

body {
    border-top: .1px solid var(--color-dark);
}

/* FONTS */

h1, h2, h3, h4, h5, h6, .focus, .nostyle {
    font-family: 'Shippori Mincho', serif;
    line-height: 1;
}

h2 {
    font-size: 3.5rem;
    color: var(--color-dark); 
    text-align: center;
    margin-bottom: 2rem;
}

h4 {
    font-size: 2.5rem;
}

.light {
    color: var(--color-light);
}

p {
    font-size: 1.1rem;
    font-weight: 200;
}

.highlight {
    background-color: var(--color-highlight-text-bg);
    padding: 1rem;
    margin-bottom: 1rem;
    /* box-shadow: 5px 5px 0 var(--color-persian-orange); */
    border: 1px solid var(--color-persian-orange);
    
}

.narrow {
    max-width: 40rem;
    margin: 1rem auto;
}

/* HELPER CLASSES */

.center {
    text-align: center;
}

a.nostyle {
    text-decoration: none;
    color: inherit;
}

.focus {
    font-size: 1.1rem;
    font-weight:600;
}

.quick-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: .5rem auto;
}

.quick-links li {
    padding: .25rem;
}

.quick-links a, .btn {
    display: inline-block;
    text-decoration: none;
    color: var(--color-persian-orange);
    font-size: 1.1rem;
    background: transparent;
    border: 1px solid var(--color-persian-orange);
    border-radius: 4rem;
    padding: .3rem 1.2rem;
    transition: all .7s ease-in-out;
    margin: 1rem auto;
}

.quick-links a:hover, .btn:hover {
    color: whitesmoke;
    border-color: var(--color-dark);
    background: var(--color-dark);
}

.col-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-2 .col {
    width: 50%;
}

.col.text {
    padding: 3rem;
}

.col img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    display: flex;
}

/* SECTIONS */

section {
    padding: 3rem;
}

#intro {
    background-image: url("media/steak.jpg");
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 3rem);
    margin: 1.5rem;
    color: var(--color-persian-orange);
    text-align: center;
    padding: 0;
    animation: 2.5s scaleup ease-in-out;
}

#intro h1 {
    font-size: 6rem;
    line-height: 90%;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-bottom: .5rem;
}

#intro p.subhead {
    color: rgba(255, 255, 255, .7);
    margin-top: -2rem;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 200;
    text-shadow: none;
}

#intro p.location {
    text-transform: uppercase;
    color: rgba(255, 255, 255, .7);
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: -1.8rem;
}

#intro a {
    text-decoration: none;
    padding: .7rem 1.4rem;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    font-weight: 200;
    border: 2px solid var(--color-persian-orange);
    border-radius: 4rem;
    color: var(--color-persian-orange);
    margin-top: 1rem;
    transition: all .4s ease-in-out;
}

#intro a:hover {
    border-color: #f8f8f8;
    color: #f8f8f8;
}

/* .subhead::before, .subhead::after {
    content: " ~ ";
} */

.overlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    padding: 4rem;
    /* backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px); */
    /* box-shadow: 2px 2px 35px rgba(0, 0, 0, .8); */
    border-radius: 3px;
    position: relative;
}

#intro blockquote {
    padding: 1rem 2rem 1rem 4.5rem;
    font-size: 1.2rem;
    position: absolute;
    /* background: rgba(0, 0, 0, .8); */
    background-image: url("media/quotes3.png");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 2.2rem 0;
    color: rgba(255, 255, 255, .7);
    text-shadow: none;
    width: 500px;
    top: 1.5rem;
    left: -1.5rem;
    font-weight: 200;
    text-align: left;
    border-bottom: 2px solid var(--color-light);
}

#intro .bi {
    font-size: 4rem;
    position: absolute;
    bottom: 3rem;
    left: calc(50% - 2rem);
    animation: 1s infinite pulse;
    color: var(--color-light-opacity);
    text-shadow: none;
}

.connection {
    position: absolute;
    width: 9rem;
    height: 2px;
    background: var(--color-persian-orange);
    left: calc(50% - 4.5rem);
    bottom: 0;
    transform: rotate(90deg);
    transform-origin: 50%;
}

.connection-border {
    border-top: 2px solid var(--color-persian-orange);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.images {
    margin: 2rem auto;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.images li {
    padding: .25rem;
}

.images img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.diag {
    background: url("media/diagonal.png");
    padding: 6rem 3rem;
}

/* #intro + .diag {
    border-top: .1px solid var(--color-persian-orange);
} */

#darkbg {
    background: var(--color-dark);
    color: #f8f8f8;
    font-weight: 100;
    width: 100%;
    margin: 0 auto;
    clip-path: polygon(0 6rem, 100% 0, 100% 100%, 0 100%);
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.icon {
    height: 5rem;
    margin: 1rem auto;
    display: block;
}

.corner {
    position: absolute;
    opacity: .3;
    width: 7rem;
}

.bottom-left {
    bottom: -3rem;
    left: -5rem;
    transform: rotate(-90deg);
}

.top-right {
    top: -3rem;
    right: -5rem;
    transform: rotate(90deg);
}

.bullets {
    list-style: none;
    margin: 1rem 0;
}

.bullets li {
    background-image: url("media/steak-icon.png");
    background-size: 1.5rem;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 2rem;
    margin-bottom: .5rem;
}

.features {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.features li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 2rem;
}

.features li img {
    height: 4rem;
    margin: .8rem auto;
}

.features li h6 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grey {
    background: #f8f8f8;
}

.light-bg {
    background: rgba(220, 150, 90, .1);
    padding: 6rem 3rem;

}

.light-bg .text {
    padding: 5rem;
}

.menu .col-2 {
    align-items: flex-start;
}

.menu ul {
    list-style: none;
}

.menu h4 {
    margin-bottom: 1rem;
    color: var(--color-persian-orange);
}

/* .menu .col-2 {
    border-bottom: 1px solid black;
} */

/* .menu .col-2 + .col-2 {
    margin-top: -6rem;
} */

.menu .col-2:first-of-type .text {
    padding-bottom: 0;
}

.menu .col-2.reverse-rows .text {
    padding-top: 0;
}

.menu-headers .bi.only-mobile {
    display: none;
}

.menu-items {
    margin-bottom: 1rem;
}

.menu-items li {
    display: flex;
    justify-content: space-between;
}

.price {
    padding-left: 1rem;
}

.menu-item-info {
    font-size: .9rem;
    font-style: italic;
    display: block;
    margin-top: -.3rem;
    padding-left: .25rem;
    line-height: 1;
    margin-bottom: .5rem;
}

.served-with {
    font-size: .8rem;
    font-style: italic;
    margin-top: 1rem;
    line-height: 1;
}

.menu-dark {
    background: var(--color-dark);
    color: whitesmoke;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.map-frame {
    border: 1.2rem solid rgba(255, 255, 255, .9);
    display: flex;
    position: relative;
}

/* .map-frame::after {
    content: "";
    width: 10rem;
    height: 10rem;
    background: var(--color-persian-orange);
    position: absolute;
    right: calc(50% - 5rem);
    top: -3.5rem;
    border-radius: 50%;
    transform: rotate(-45deg);
    box-shadow: 20px 20px 55px rgba(0, 0, 0, .2);
    z-index: -1;
} */








/* KEYFRAMES */

@keyframes sway {
    /* 0% { transform: rotate(0) } */
    25% { transform: rotate(10deg) }
    /* 50% { transform: rotate(0) } */
    75% { transform: rotate(-10deg) }
    /* 100% { transform: rotate(0) } */
}

@keyframes pulse {
    50% {transform: scale(1.05);}
}

@keyframes scaleup {
    0% {transform: scale(0.95); opacity: .85;}
    /* 25% {transform: scale(0.7); opacity: 1;} */
    100% {transform: scale(1); opacity: 1;}
}

@keyframes slidedown {
    0% { transform: translateY(-100vh); }
    /* 60% { transform: translateY(-10vh); } */
    100% { transform: translateY(0); }
}

@keyframes slidein {
    0% { transform: translateX(-40vw); opacity: .6; }
    100% { transform: translateX(0); }
}

@keyframes appear {
    from { opacity: 0.6;scale: .9;transform: translateX(-100vw); }
    to { opacity: 1; scale: 1; transform: translateX(0);}
    /* from { opacity: .7;transform: translateX(-100vw); }
    to { opacity: 1;transform: translateX(0); } */
}





/* MEDIA QUERIES */

@media all and (max-width: 1400px) {

    .corner {
        width: 4.5rem;
    }

    .bottom-left {
        bottom: -1.5rem;
        left: -1.5rem;
    }
    
    .top-right {
        top: -1rem;
        right: -1rem;
    }
}


@media all and (max-width: 900px) {

    h2 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    section, .light-bg, .diag {
        padding: 2rem 1rem;
    }

    #intro + section {
        padding-top: 3rem;
    }

    #intro h1 {
        font-size: 4rem;
    }

    #intro p.subhead {
        font-size: 3rem;
        margin-top: -1.3rem;
    }

    #intro p.location {
        font-size: 1rem;
        margin-top: -1.2rem;
    }

    #intro blockquote {
        font-size: 1rem;
        padding-left: 2rem;
        width: 90%;
        left: 5%;
        text-align: center;
        border-bottom: 1px solid var(--color-light);
    }

    .features {
        display: block;
    }    

    #darkbg {
        clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0 100%);
        padding: 2.5rem 2rem;
    }

    .bottom-left {
        display: none;
    }
    
    .top-right {
        top: -1.5rem;
        right: 0;
    }

    .col-2 {
        flex-direction: column;
    }

    .col-2 .col {
        width: 100%;
        padding: 1rem;
    }

    .menu .col-2 .col {
        padding: 0 1rem;
    }

    .menu-headers-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-headers > li {
        border-bottom: 1px solid var(--color-highlight-text-bg);
    }

    .menu h4 {
        margin-top: 1rem;
        color: inherit;
    }
    
    .menu-headers .bi.only-mobile {
        display: inline-block;
        transition: all .5s ease-in-out;
    }
    
    .menu-dark {
        margin-left: -2rem;
        margin-right: -2rem;
        padding: 2rem;
    }
    
    .menu-items {
        display: none;
    }
    
    .menu-items.open {
        display: block;
        overflow: hidden;
        animation: .7s appear ease-in-out;
    }
    
    .menu .btn {
        margin-top: 2rem;
    }
    
    .reverse-rows {
        flex-direction: column-reverse;
    }

    .col.map-frame {
        padding: 0;
    }

    /* .map-frame {
        border: none;
    } */
    
}

@media screen and (max-width: 400px) {
    #intro h1 {
        font-size: 3rem;
    }

    #intro p.subhead {
        font-size: 2rem;
    }
}

